hr.evk8-delimiter {
    width: 80%;
    border-style: solid;
}

span.evk8-label-text {
    display: table;
    padding: 10px;
}

span.evk8-label-text-center {
    margin: auto
}

.evk8-app-wrapper {
    margin: 32px 24px 44px 24px;
    position: relative;
}

/* Step 1 */

.evk8-step1-label-swap-pair {
    display: inline-block;
}

.evk8-step1-label-default {
    box-shadow: 0 0 3px 1px #CCCCCC;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
    display: table-cell;
    border-radius: 6px;
    border-bottom-width: 6px;
    width: inherit;
    height: 290px;
}

.evk8-step1-label-validating {
    box-shadow: inset 0 1px 3px 1px #CCCCCC;
}

.evk8-step1-label-delimiter {
    height: 30px;
    position: relative;
}

.evk8-step1-label-delimiter-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}




.evk8-step1-label-tag {
    border-color: #4ECDE4;
    position: absolute;
    border-bottom-style: solid;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    width: 100%;
    bottom: 0;
    border-bottom-width: 6px;
}

.evk8-step1-label-tag-wrong {
    border-color: #F16746;
}

.evk8-step1-label-swap-wrapper {
    margin-top: 20px;
}
/*****************************************************************************/

.evk8-validator-widget-wrapper {
    width: inherit;
    height: 100px;
    margin-top: 12px;
    position: relative;
}

.evk8-validator-pop-up-window {
    position: absolute;
    width: 772px;
    border-style: solid;
    border-width: 10px;
    left: 120px;
    border-color: white;
    background-color: #F5F4EF;
    box-shadow: 0 0 3px 1px #CCCCCC;
}

.evk8-validator-modal-window {
    position: absolute;
    box-shadow: 0 0 3px 1px #CCCCCC;
    margin: auto;
    width: 380px;
    border-style: solid;
    left: 0;
    top: 300px;
    border-width: 10px;
    border-color: white;
    background-color: #F5F4EF;
    right: 0;
}


.evk8-validator-wrapper {

}

#evk8-modal-window-button {
    margin-top: 15px;
}

.evk8-button-renew {
    width: 23px;
    height: 28px;
    z-index: 1;
    background: url("res/renew.png") no-repeat;
    background-size: contain;
    top: 0px;
    right: 0px;
}

.evk8-button-renew:hover {
    filter: hue-rotate(180deg);
}

