
* {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.cjaf-block      { display: block }

.cjaf-switcher-column,
.cjaf-inline     { display: inline-block }

.cjaf-switcher-cell,
.cjaf-table-cell { display: table-cell;}

.cjaf-label-tag,
.cjaf-absolute   {position: absolute;}

.cjaf-switcher-cell,
.cjaf-relative   { position: relative }

.cjaf-center     { text-align: center }

.cjaf-switcher-cell,
.cjaf-v-center   { vertical-align: middle }

.cjaf-v-top      { vertical-align: top }

.cjaf-switcher-cell,
.cjaf-button-default,
.evk8-switcher-cell-delimiter,
.cjaf-cursor-pointer    { cursor: pointer }

.cjaf-transition        { transition: 0.1s linear }

.cjaf-switcher-cell,
.cjaf-outer-shadow      { box-shadow: 0 0 3px 1px #CCCCCC }

h1, h2 {
    margin: 0;
    font-weight: normal;
}